button{
    border: none;
    background: #fff;
}
a{
    text-decoration: none;
    color: #707070;
}
.AllVideosContainer{
    /* position:absolute; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* border: 1px solid black; */
    width: 30%;
    /* height: 10vh; */
    /* width: 25%; */
    margin: 10px 70px 10px 260px;
}
.Container{
    position: absolute;
    /* background-color: #c9c9c9; */
}
.movieDataBox{
   
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 10px 11px;
    width: 78%;
    /* border: 1px solid red; */
    margin: 119px 10px 20px 252px;}
.movieBoxDiv{
    /*border: 1px solid red;
    *//*background-color: #c9c9c9;
    */width: 100%;
    height: auto;
    position: relative;
    /* transform: scale(0.99); */
    /*display: flex;
    *//*height: 20%;
    */margin-top: 25px auto;
    transition:ease-in .2s ;
    line-height: 1;
    border-radius: 10px;
   
}
.movieBoxDiv:hover{
    transform: scale(0.9);
   
}
.displayImage{
    width: 320px;
    height: 150px;
    display: flex
    /* z-index: 9999; */
    
}
.displayImageBox{
    display: flex;
    margin: 0 auto;
    width: auto;
    height: 250px;
    /* border: 1px solid blue; */
    z-index: 1;
}
.movieImg{
    border-radius: 20px;
    cursor: pointer;
    /* display: none; */
    z-index: 2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* .movieImg:hover{
    transition: transform .25;
    scale: 1.5;
    -webkit-transition: transform .25;
    -moz-transition: transform .25;
    -ms-transition: transform .25;
    -o-transition: transform .25;
} */

.pageTitleAndImage{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    gap: 10px;
    /* text-align: center; */
    /* justify-content: ; */
    /* align-items: center; */
    margin: 6px auto;
    
}
.Videotitle{
    /* border: 1px solid red; */
    position: absolute;
    width: 70%;
    flex-wrap: wrap;
    /* height: 40px; */
    justify-content: center;
    align-items: center;
    text-align: left;
    /* font-weight: bolder; */
    font-size: 14px;
    /* color: red; */
    margin: -8px 50px;
    font-family: poppins;
    line-height: 1;
}
.releasedDate{
    font-size: 16px;
    font-family: poppins;
    color: #8b6591;
    margin-top: -10px;
}


.channelImage img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.pageTitle{
    width: 80%;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
}
.pageTitle a{
    width: 80%;
    justify-content: center;
    text-align: left;
    color: #707070;
    font-size: 18px;
    text-decoration: none;
}
.OverViewDiv{
    /* display: none; */
    
    background: rgba(0,0,0,0.9);
    border-radius: 10px;
    color: #fff;
    width: 100px;
    gap: 10px;
    height: 100px;
    padding: 4px;
    font-size: poppins;
    overflow: hidden;
    cursor: pointer;
    margin-left:-108px;
  
   z-index: 1;
    
    
}
.OverViewDivParag{
    /* display: none; */
    font-size: 13px;
    /* color: red; */
    text-align: left;

}
.OverViewDivParag:hover{
font-size: 15px;
}

.movieImg:hover +.OverViewDiv{
    display: block;
    position: absolute;
    /*font-size: 100px;
    *//*width: 200px;
    */width: auto;
    /* scale: 1.5; */
    height: 220px;
    margin-left: -4px;
    /* overflow: hidden; */
    /* transition:0.5 ease-out ; */
    z-index: 4;
    /*margin-top: 0px;
    */
    
}
.btnBox{
    border: 1px solid red;
    position: fixed;
    bottom: 0;
    /* margin-top: 1000px; */
    z-index: 1;
}
.loadBox{
    /* border: 5px solid; */
    position: absolute;
    /* background-color: red; */
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 430px){
	/*Small smartphones [325px -> 425px]*/
.AllVideosContainer{
    /* margin: 10px 700px 10px 100px; */
    /* border: 1px solid red; */
}
    .movieDataBox{
        /* display: none; */
        display: flex;
        /* border: 1px solid red; */
        width:auto;
        
        /* height: 100vh; */
        margin: 100px 5px 10px 28px;
        
}

    .movieImg{
        width: 160px;
    }
    .Videotitle{
        
            font-size: 13px;
            line-height: 0.9;
            width: 120px;
            flex-wrap: wrap;
            font-weight: bolder;
        }
    
    .releasedDate{
        font-size: 10px;
    }
    .channelImage img{
        /* display: none; */
        visibility: hidden;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    .pageTitleAndImage{
        /* border: 1px solid red; */
        display: flex;
        /* width: 100%; */
        gap: 1px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 6px auto;
        
    }

    .displayImageBox{
        display: flex;
        margin: 10px auto;
        /* width: auto; */
        height: 230px;
        /* border: 1px solid blue; */
        z-index: 1;
    }
    
}



@media only screen and (max-width: 375px){
	/*Small smartphones [325px -> 425px]*/

    .movieDataBox{
        /* display: none; */
        /* border: 1px solid red; */
        width: auto;
        margin: 110px 0 10px 10px;
        
}



.displayImageBox{
    display: flex;
    margin: 10px auto;
    /* width: auto; */
    height: 230px;
    /* border: 1px solid blue; */
    z-index: 1;
}
    
}


@media only screen and (max-width: 400px){
	/*Small smartphones [325px -> 425px]*/

    .movieDataBox{
        /* display: none; */
        /* border: 1px solid red; */
        width: auto;
        margin: 110px 0 10px 5px;
        
}

.movieImg{
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    /* display: none; */
    z-index: 2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.displayImageBox{
    display: flex;
    margin: 10px auto;
    /* width: auto; */
    height: 230px;
    /* border: 1px solid blue; */
    z-index: 1;
}
    
}

@media only screen and (max-width: 320px){
	/*Small smartphones [325px -> 425px]*/

    .movieDataBox{
        /* display: none; */
        /* border: 1px solid red; */
        width: auto;
        margin: 110px 0 10px 4px;
        
}

.movieImg{
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    /* display: none; */
    z-index: 2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.displayImageBox{
    display: flex;
    margin: 10px auto;
    /* width: auto; */
    height: 230px;
    /* border: 1px solid blue; */
    z-index: 1;
}
    
}

