.navBox{
    /* border: 1px solid black; */
    width: 95%;
    margin: 0px 28px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 99;
    background-color: #fffaf0;
}
.leftBox, .rightBox, .midBox {
    display: flex;
    gap: 16px;
    align-items: center;
   
    justify-content: center;
}
.menuBox{
    cursor: pointer;
}
.leftBox img{
    width: 100px;
    height: 40px;
}
.midBox input{
    width: 510px;
    height: 36px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    border-color: #707070;
    outline-color: #707070;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 100px;
    border-radius: 20px;
   
}
.castIcon{
    display: none;
}
.mobileSearchBar{
    display: none;
}

.search-bar-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    transition: width 0.3s ease;
    width: 200px; /* Collapsed width */
  }
  
  .search-bar-container.expanded {
    width: 400px; /* Expanded width */
  }
  
  .search-bar {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 20px;
    color: #333;
  }
.rightBox input{
  display: none;
}

.circleNotification{
  display: flex !important;
}
/* MEDIA QUERY */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
  .circleNotification{
    display: none !important;
  }
  .leftBox img{
    width: 50px;
        height: 31px;
        margin: 5px 10px;
}
    .navBox {
        /* border: 1px solid black; */
        width: 95%;
        margin: 0px 0px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: fixed;
        z-index: 99;
        background-color: #fff;
    }
    .menuBox{
        display: none;
    }
    .midBox input{
        width: auto;
    }

    .midBox input{
      display: none;

        width: 100px;
        height: 25px;
        margin: -10px auto;
        border: 1px solid #dddddd;
        border-color: #707070;
        outline-color: #707070;
        padding: 0 20px;
        font-size: 15px;
        font-weight: 100px;
        border-radius: 20px;
       
    }
.rightBox{
  /* border: 1px solid red; */
  /* justify-content: space-around; */
}
   
  
  
  .rightBox input {
    display: flex;
    width: 100px;
    height: 25px;
    /* margin-top: -10px; */
    /* margin-left: 120px; */
    border: 1px solid #dddddd;
    border-color: #707070;
    outline-color: #707070;
    /* padding: 0 20px; */
    font-size: 15px;
    font-weight: 100px;
    border-radius: 20px;
  }
  
  .rightBox input:focus {
    background:#ccc;
    width: 200px;
    margin-left: -100px;
    color: #6a6f75;
   
    outline: none;
}

.rightBox input {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

  }

    
  .userIcon{
    /* display: none; */
}
.castIcon{
    display: block;
}
.vid{
    display: none;
}
.mobileSearchBar{
    display: flex;
}


.mobileSearchBar input{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}


.search-bar-container {
display: flex;
align-items: center;
border: 1px solid #ccc;
border-radius: 4px;
padding: 5px;
transition: width 0.3s ease;
width: 200px; /* Collapsed width */
}

.search-bar-container.expanded {
width: 400px; /* Expanded width */
}

.search-bar {
flex: 1;
border: none;
outline: none;
padding: 5px;
font-size: 16px;
}

.search-button {
background-color: transparent;
border: none;
cursor: pointer;
}

.search-button i {
font-size: 20px;
color: #333;
}

