.topNavContainer{
    position: relative;
    /* border: 1px solid blue; */
    width: 78%;
    margin: 0 18%;
    /* height: 90px; */
}

.btnBox{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
   

    width: 100%;
    position: absolute;
    /* height: 120px; */
    margin: 0 1%;
    overflow-x:scroll;
}

.btnBox p{
    /* position: absolute; */
    /* align-items:left; */
    font-size: 14px;
    border: 1px solid red;
    border-radius: 10px;
    height: 28px;
    width: 100%;
    /* background-color: red; */
}